@model BuBilet.Models.Flight

@{
    ViewData["Title"] = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Buy</h1>

<h3>Current Flight Information</h3>
<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDateTime)
        </dd>

    </dl>
   
    <form class="form-inline" asp-action="Buy" method="post">

        <input type="hidden" asp-for="FlightId" />
        <div class="form-group">

            @{
                if (Model.PlaneId == "1")
                {
                    <label for="SeatNumber">Please enter the seat number you want to buy (Every row is 8 seats, plane has 72 seats)</label>
                }
                else{
                    <label for="SeatNumber">Please enter the seat number you want to buy (Every row is 6 seats, plane has 72 seats)</label>
                    
                }
            }


            
            <input type="text" class="form-control" id="SeatNumber" name="SeatNumber">
        </div>
      
        
       
        <input type="submit" value="Buy" class="btn btn-primary" /> 
        <a asp-action="Flights">Back to List</a>
    </form>
</div>
