@model IEnumerable<BuBilet.Models.Ticket> 

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tickets</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Flight.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.DepartureDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.ArrivalDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNumber)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.Source)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.DepartureDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.ArrivalDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatNumber)
                </td>


                @{
                    if (User.IsInRole("Administrator"))
                    {
                        <td>
                            <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.TicketId">Cancel</a>
                        </td>
                    }
                }


            </tr>
        }
    </tbody>
</table>
